<div class="list_div">
  <div class="list_title">
    <span class="span1">{{config.span1}}</span>
    <span class="span2"> --{{config.span2}}</span>
  </div>
  <div class="list_content">
    <img [src]="config.img">
    <div class="list_info">
      <span class="span2">{{config.info1}}：</span>{{config.info11}}<span></span>
      <br>
      <span class="span2">{{config.info2}}：</span><span>{{config.info21}}</span>
      <br>
      <span class="span2" [style]="info">{{config.info3}}：</span><span>{{config.info31}}</span>
    </div>
    <div class="list_price">
      <h1>{{config.mes1}}</h1>
      <span>{{config.mes11}}</span>
    </div>
    <div class="list_price">
        <h1>{{config.mes2}}</h1>
        <span>{{config.mes21}}</span>
    </div>
    <img src="assets/images/link.png" class="link">
  </div>
</div>
