.list_div {
    width: 100%;
    height: 90px;
    margin: 0 0;
    border-top: 1px solid #f0f0f0;
}

.list_div .list_title {
    width: 100%;
    height: 20px;
}

.list_div .list_title .span1 {
    margin-left: 2%;
    font-size: 16px;
    color: black;
}

.list_div .list_title .span2 {
    font-size: 14px;
    color: #999999;
}

.list_div .list_content {
    width: 100%;
    height: 70px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.list_div .list_content img {
    width: 10%;
    margin: 14px 4% 0 3%;
    float: left;
}

.list_div .list_content div {
    float: left;
    // border: 1px solid black;
    width: 100px;
    height: 70px;
}

.list_div .list_content .list_info {
    padding: 5px 0 0 0;
    width: 32%;
}

.list_div .list_content .list_info .span2 {
    font-size: 100%;
    color: #999999;
}

.list_div .list_content div span {
    font-size: 14px;
}

.list_div .list_content .list_price {
    width: 20%;
}

.list_div .list_content .list_price h1 {
    margin: 8px 0 0 1%;
    color: #c01444;
}

.list_div .list_content .list_price span {
    margin: 0 0 0 10px;
    color: #999999;
}

.list_div .list_content .link {
    width: 3%;
    margin-top: 24px;
}